.StatusIcon.Approved {
  color: var(--green);
}

.StatusIcon.Draft {
  color: var(--gray);
}

.StatusIcon.Open {
  color: var(--gray);
}

.StatusIcon.InReview {
  color: var(--yellow);
}

.StatusIcon.ChangesRequested {
  color: var(--red);
}
