.StatusIcon.Approved {
  color: #00b300;
}

.StatusIcon.Draft {
  color: slategray;
}

.StatusIcon.Open {
  color: slategray;
}

.StatusIcon.InReview {
  color: darkgoldenrod;
}

.StatusIcon.ChangesRequested {
  color: #dc1212;
}
