.Lane {
  display: flex;
  flex-direction: column;

  flex: 1;
  min-width: 0;
  background-color: #ebebf0;
  border-radius: 0.25rem;
  padding: 1rem;
  overflow-y: auto;
}

@media (prefers-color-scheme: dark) {
  .Lane {
    background-color: #212529;
  }
}
